{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">{{ listing.name }}</h1>
    {% for item in listing.items %}
        <p>
            {{ item.name }}
            <a href="{{ path('item_delete', {'id' : item.id}) }}">{{ 'item.delete'|trans(domain = 'item') }}</a>
        </p>
    {% endfor %}
    <a href="{{ path('item_create', {'listing_id' : listing.id}) }}">{{ 'item.create'|trans(domain = 'item') }}</a>
{% endblock %}